{
  "ldap": {
    "url": "ldap://some-ldap-server.domain.tld",
    "bindDN": "domain\\bindDN",
    "bindCredentials": "password",
    "searchBase": "DC=domain,DC=tld",
    "searchFilter": "(cn={{username}})",

    "domain": "DOMAIN",
    "domaincontroller": "ldap://some-ldap-server.domain.tld"
  },
  "veda": {
    "url": "veda-server.domain.tld",
    "port": 80,
    "username": "admin-user-name",
    "password": "password",
    "cert": "./certificate-authority.crt"
  },
  "listen": 8081
}